!!! html
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1" maximum-scale="1" user-scalable="no")
    %link{ href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', type: 'text/css', rel: 'stylesheet' }
    
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="/") Daily Activities

        %div.collapse.navbar-collapse#primary-navigation
          %ul.nav.navbar-nav
            %li
              %a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Lists
              %ul(class="dropdown-menu" role="menu")
                - lists.all.each do |list|
                  %li
                    %a(href="/lists/#{list[:id]}")= list[:list_title]
                %li
                  %a(href="/lists/new") New List
            
          %ul.nav.navbar-nav
            %li
              %a(href="/data") Visualize

    .container
      = yield

    %script{ type: 'text/javascript', src: '/jquery.js'}
    %script{ type: 'text/javascript', src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'}
    %script{ type: 'text/javascript', src: '/jquery-ujs.js'}
    %script{ type: 'text/javascript', src: '/chart.js'}
    %script{ type: 'text/javascript', src: '/script.js'}
