!!! html
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link{ href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', type: 'text/css', rel: 'stylesheet' }
  
  %body
    .container
      = yield

    %script{ type: 'text/javascript', src: '/jquery.js'}
    %script{ type: 'text/javascript', src: '/jquery-ujs.js'}
    %script{ type: 'text/javascript', src: '/script.js'}